<form action="/links/add" method="POST">
    <input type="text" name="title" placeholder="title" autofocus>
    <input type="url" name="url" placeholder="url">
    <textarea name="description" rows="2" placeholder="description"></textarea>
    <button>Save</button>
</form>